# Core dependencies
numpy~=1.26.4
torch==2.3.1
torchvision==0.18.1
urllib3<2.0.0
loguru
tqdm

# Data processing and visualization
tabulate
thop
opencv-python~=4.9.0.80
Pillow~=10.2.0
matplotlib
scipy~=1.13.0

# GUI and automation
pypiwin32
pywin32
pytweening
keyboard
PyAutoGUI==0.9.54
pywebio==1.8.3
pydirectinput
PyQt5-sip==12.12.2
PyQt5==5.15.9
qtpy==2.4.1
PyQtWebEngine
pywebview

# Mobile automation
adbutils
uiautomator2
uiautomator2cache

# File and system utilities
filelock
lxml
cached_property
psutil

# AI and ML
fastdeploy-python
ultralytics
pponnxcr
giayap==0.0.5
gimapdev==4.6.3
giadep
giaocr
giayolo==0.0.3

# Other utilities
pydantic>2.0.0
pyyaml
json5
sortedcontainers
pytz
sympy
scikit-learn
requests
dataclasses
websockets
