# TODO: Update with exact module version
numpy~=1.26.4
torch
loguru
tqdm
torchvision
tabulate

paddleocr

thop

opencv-python~=4.9.0.80
Pillow~=10.2.0
pypiwin32
pywin32
pytweening
matplotlib
keyboard
scipy~=1.13.0

PyAutoGUI==0.9.54
pywebio==1.8.3
pydirectinput


adbutils
uiautomator2
uiautomator2cache
filelock
lxml
pydantic==2.6.4
gimap==3.4.6
giadep
giaocr
giayolo
pyyaml
urllib3

fastdeploy-python
json5
sortedcontainers
pytz
sympy
scikit-learn
requests
dataclasses
psutil
cached_property